{% extends 'base.html' %}


{% block main %}
    Banco de horas<br>
    {% for registro_he in object_list %}

       <a href="{% url 'update_hora_extra' registro_he.id %}">
            {{ registro_he }}
        </a>
        <a href="{% url 'delete_hora_extra' registro_he.id %}">
            Delete
        </a>

    {% endfor %}

    {% if not object_list %}
        Não existem registros de hora extra.
    {% endif %}

    <a href="{% url 'create_hora_extra' %}" class="btn btn-info">
            Novo
    </a>

{% endblock %}